body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
p {
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;

}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.pro {
  text-decoration: underline;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #eeeded;
}
.bottom-container {
  background-color: #66BFBF;
  width : 100%;
  padding: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.adithya-img {
  width: 10%;
  top: 10px;
  border-radius: 100%;
  margin-top: 30px;
}

.python-img {
 width: 25%;
 border-radius: 100%;
 float: left;
 margin-right: 30px;
}
.web-dev-img {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
.hr1 {
  height: 0;
  border-color: #EAF6F6;
  border-style: dotted;
  width: 5%;

}
.bottom-container1 {
  margin: 0 auto 0 auto;
  padding : 5px;
}
.footer-link {
  padding: 10px;
  color: #30475e;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 14px;
   line-height: 14px;
   color: #66BFBF;
   font-family: Arial;
   width: 145px;
   font-size: 19px;
   padding: 12px;
   background-color: #BCE6EB;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 10px;
}

.btn:hover {
   border: solid #93ABD3 1px;
   background: #BCE6EB;
   background-image: -webkit-linear-gradient(top, #BCE6EB, #FDCFDF);
   background-image: -moz-linear-gradient(top, #BCE6EB, #FDCFDF);
   background-image: -ms-linear-gradient(top, #BCE6EB, #FDCFDF);
   background-image: -o-linear-gradient(top, #BCE6EB, #FDCFDF);
   background-image: -webkit-gradient(to bottom, #BCE6EB, #FDCFDF);
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   text-decoration: none;
}
.closing-copyr {
  color : #EAF6F6;
  padding: 5px;
  margin: 30px auto 30px auto;
}
